/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
div {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=== END reset styles ====*/

/*==== general styles ====*/
*{
    box-sizing: border-box;
}
.paragraph_style{
	color: rgb(154, 154, 154);
}
.paragraph_middle{
	font-size: 12px;
	text-transform: capitalise;
}
.h3_anna{
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
}
.default_size{
	font-size: 16px;
}
.small_size{
	font-size: 10px;
	text-transform: capitalize;
}
footer ul>li>a:hover{
	text-decoration: underline;
}
/*==== header ===*/

header{
	position: fixed;
	width: 100%;
	height: 40px;
	align-items: center;
	justify-content: center;
	display: flex;
	top: 0;
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
	border-bottom: 1px solid #e2e2e2;
	z-index: 10;
}
header .left_side{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: 15px;
}
.header_icons{
	display: flex;
}

.header_icons a{
	color: black;
	text-decoration: none;
}
.header_icons i{
	margin-right: 5px;
	padding: 10px;
}
.header_icons i:hover{
	background: rgba(238, 239, 239, 0.8);

}

.header_text a{
	margin-left: 15px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

header img{
    height: 32px;
    margin-left: 24vw;
    margin-right: 24vw;
}

.rigth_side_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.btn{
	height: 30px;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 11px;
	text-transform: uppercase;
	border-radius: 3px;
    cursor: pointer;
}

/*====== end header======*/

/*===Start big img block====*/

main {
	width: 1080px;
	padding-top: 60px;
	margin: 0 auto;
	display: block;
  }
  .article_head{
	  line-height: 1.5em;
  }
  .article_head {
	margin: auto;
	width: 50%;
	max-width: 600px;
	background-color: white;
  }
  
  .article_block {
		margin-left: calc((100% - 600px) / 2);
		width: 50%;
		max-width: 600px;
		background-color: white;
		float: left;
  }

 

  .article_head h1{
	  font-size: 30px;
	  font-weight: bold;
	  line-height: 1.2em;
	  font-style: italic;
  }
  .big_img {
	position: relative;
	margin: 30px 0;
	width: 180%;
	left: -40%;
  }
  
  .big_img img,
  .big_img p {
	width: 100%;
  }
  .first_p{
	  line-height: 1.1em;
	  font-size: 14px;
  }
  

  main .date {
	display: inline-block;
	font-size: 12px;
	text-transform: capitalize;
	color: rgb(154, 154, 154);
  }
  main .date + .icons {
	float: right;
	display: flex;
	justify-content: flex-end;
  }
  
  main .icons a:link {
	text-decoration: none;
	color: black;
  }
  
  .social-share a {
	margin-right: 9px;
  }
  
  .social-share i:first-of-type {
	color: rgba(238, 239, 239, 0.8);
  }
  
  .social-share i:hover {
	background-color: white;
	border: 1px solid #ccc;
	width: 15px;
	height: 15px;
	border-radius: 50%;
  }
  
  .bookmark_comment_btn i {
	padding: 5px;
	color: rgba(130, 128, 128, 0.859);
  }
  
  .bookmark_comment_btn span {
	color: rgb(181, 177, 177);
  }
  
  .bookmark_comment_btn span:nth-of-type(2) {
	top: -4px;
  }
  
  .bookmark_comment_btn i:hover {
	color: rgba(238, 239, 239, 0.8);
  }

/*=====END main img block====*/


/*====START content part =====*/


.p-story {
	margin-bottom: 0.75rem;
	font-family: 'Georgia, 'Times New Roman', Times, serif';
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    max-width: 600px;
}

.p-story strong {
    font-weight: 700;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*START INFLATION*/

.inflation p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
}

.inflation h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.8125rem;
}

.inflation div {
    display: block;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
}

.inflation .graphic-parent {
    width: 100%;
    overflow: hidden;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
}

.inflation .graphic {
    height: auto;
    position: relative;
    width: 720px;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
}

.inflation .graphic img {
    display: block;
    height: auto;
    width: 720px;
}

.inflation .graphic p {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    margin: 0;
}

.inflation .graphic .bold {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.inflation .graphic .top-1 {
    width: 173px;
    position: absolute;
    left: 0.2544%;
    top: 18.0556%;

}

.inflation .graphic .top-2 {
    left: 25.7029%;
    top: 18.0556%;
    position: absolute;
    width: 173px;
}

.inflation .graphic .top-3 {
    left: 51.1511%;
    top: 18.0556%;
    position: absolute;
    width: 173px;
}

.inflation .graphic .top-4 {
    left: 76.5995%;
    top: 18.0556%;
    position: absolute;
    width: 173px;
}

.inflation .graphic .bottom-1 {
    left: 0.2544%;
    top: 65.8951%;
    position: absolute;
    width: 173px;
}

.inflation .graphic .bottom-2 {
    left: 25.7029%;
    top: 65.8951%;
    position: absolute;
    width: 173px;
}

.inflation .graphic .bottom-3 {
    left: 51.1511%;
    top: 65.8951%;
    position: absolute;
    width: 173px;
}

.inflation .graphic .bottom-4 {
    left: 76.5995%;
    top: 65.8951%;
    position: absolute;
    width: 173px;
}

/*END INFLATION*/

.story-body-vid {
    width: 600px;
    margin: 43px auto;
}

.story-vid-container iframe {
    width: 600px;
    height: 319px;
    margin-left: auto;
    margin-right: auto;
}

.vid-name {
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 20px 0;
    margin-left: 20px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
}

.vid-name-1 {
	font-size: 12px;
}
.vid-name-2 {
    font-size: 12px;
}

.p-story-img {
	width: 600px;
	height: 401;
    vertical-align: top;
}

.img-caption {
    margin-left: 0;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #666;
    margin-top: 10px;
	text-align: left;
}

.img-caption-1 {
    margin-right: 7px;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
	line-height: 18px;
}

.img-caption-2 {
    margin-right: 7px;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    line-height: 18px;
}

/*--START OF Editor picks on the right side----*/

.aside1 {
    grid-column: 3/-1;
    grid-row: 7;
    max-width: 200px;
	justify-self: center;
	display: block;
	font-size: 100%;
    font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	color: #505050;
	display: block;
}


.aside1 h4 {
	font-size: 1em;
    border-bottom: 1px solid grey;
	color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.aside1 a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 15px;
    font-size: .9em;
    align-items: center;
    color: rgb(80, 78, 78);
}

a {
	text-decoration: none;
}

.aside1 a img {
	min-width: 50px;
	width: 100%;
}

/*--END OF Editor picks on the right side----*/

 /*---START aside-----*/

 aside {
	margin-top: 200px;
	float: right;
	width: calc((100% - 600px) / 2);
	min-height: 300px;
}

.aside2 {
  max-width: 190px;
  align-self: center;
  justify-self: center;
}

.aside2 h4 {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

[href="sign up"] {
  background: rgb(98,136,165);
  color: white;
  font-size: .7em;
  padding: 1em;
  border-radius: .3em;
  font-weight: bold;
  text-align: center;
}
  
/*-----END aside-------*/

.text_under_article{
	font-size: 14px;
	line-height: 1.rem;
	color: rgb(154, 154, 154);
	margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    max-width: 600px;
}
.text_under_article a{
	text-decoration: none;
	color: rgb(154, 154, 154);
}
.text_under_article a:hover{
	text-decoration: underline;
}
.under_article_social_btn{
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}
.under_article_social_btn button{
	text-transform: uppercase;
	font-size: 13px;
	padding: 5px 70px;
    margin:0 16px;
}
.under_article_social_btn a{
	text-decoration: none;
	color: black;
	margin-right: 0;
}

/*==== END under big img content====*/



/*====MORE in space====*/
.footer_sidebar{
	display: grid;
	grid-template-columns: 72% 28%;
	margin: 0 auto;
	width: 95%;
}
.img_section{
	padding: 5px 0;
}
.img_section .image_gallery{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	line-height: 1.2em;
}
.img_section .image_gallery div{
	margin-right: 20px;
	margin-bottom: 25px;
	width: 255px;
}
.img_section img{
	width: 255px;
}
.paragraph_right{
	text-align: right;
    color: rgb(153, 153, 153);
}
.footer_sidebar a:link{
	text-decoration: none;
	color: black;
}

/*===right side*/
.right_side{
	padding: 5px 0 0 15px;
	line-height: 1.2em;
}
.article_title{
	border-top: 1px solid #e4e6e8;
	padding: 10px 0;
	margin: 20px 3px;
	font-size: 18px;
	
}

/*===END sidebar*/

/*===footer===*/
footer{
	display: grid;
	grid-template-rows: auto auto 80px;
	justify-content: center;
}
.links_logo{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 95%;
	border-top: 4px double #d0d2d3;
	padding-top: 10px;
}
.links_logo img{
	height: 28px;
}
.links_logo a:link{
	color: #387cc1;
	font-size: 10px;
	text-transform: capitalize;
}
footer a:link{
	text-decoration: none;
	color: rgb(44, 44, 44);
	
	text-transform: capitalize;
}

.links_section{
	display: grid;
	grid-template-columns: auto 200px;
	margin: 10px 35px;
	line-height: 1.3em;
}
.links{
	display: flex;
	flex-flow: row wrap;
}
.links div{
	width: 190px;
}
.links_section h4{
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
}
.subscribe{
	border-left: 1px solid #d0d2d3;
	padding-left: 12px;
}
.subscribe_option{
	font-weight: bold;
	text-transform: capitalize;
	line-height: 2em;
	font-size: 14px;
}
.subscribe_option i{
	margin-right: 6px;
}
.subscribe ul:nth-of-type(2){
	font-size: 12px;
	text-transform: capitalize;
	border-bottom: 1px solid #d0d2d3;
	color: rgb(154, 154, 154);
	margin: 15px 2px;
}
.subscribe ul:nth-of-type(3){
	font-size: 10px;
}

.copyright{
	text-align: center;
	width: 97%;
	border-top: 1px solid #d0d2d3;
}

.copyright_lincs{
	font-size: 11px;
	text-transform: capitalize;
	margin: 12px 0;
	justify-content: space-between;
}
.copyright_lincs a{
	margin-right: 12px;
}
.copyright_lincs a:hover{
	text-decoration: underline;
	color: #d0d2d3;
}