/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
div {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=== END reset styles ====*/

/*==== general styles ====*/
*{
    box-sizing: border-box;
}

/*==== header ===*/

header{
	position: fixed;
	width: 100%;
	height: 40px;
	align-items: center;
	justify-content: center;
	display: flex;
	top: 0;
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
	border-bottom: 1px solid #e2e2e2;
}
header .left_side{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: 15px;
}
.header_icons{
	display: flex;
}

.header_icons a{
	color: black;
	text-decoration: none;
}
.header_icons i{
	margin-right: 5px;
	padding: 10px;
}
.header_icons i:hover{
	background: rgba(238, 239, 239, 0.8);
	transition: all 1s ease;
	-webkit-transition: all 1.3s ease;
}

.header_text a{
	margin-left: 15px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

header img{
    height: 32px;
    margin-left: 24vw;
    margin-right: 24vw;
}

.rigth_side_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.btn{
	height: 30px;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 11px;
	text-transform: uppercase;
	border-radius: 3px;
    cursor: pointer;
}

/*====== end header======*/

/*===Start big img block====*/

main {
	width: 1080px;
	padding-top: 60px;
	margin: 0 auto;
	display: block;
  }
  .article_block{
	  line-height: 1.5em;
  }
  main article {
	margin: auto;
	width: 50%;
	max-width: 600px;
	background-color: white;
  }
  
  .article_block h1{
	  font-size: 30px;
	  font-weight: bold;
	  line-height: 1.2em;
	  font-style: italic;
  }
  .big_img {
	position: relative;
	margin: 30px 0;
	width: 180%;
	left: -40%;
  }
  
  .big_img img,
  .big_img p {
	width: 100%;
  }
  .first_p{
	  line-height: 1.1em;
	  font-size: 14px;
  }
  .last_p{
	  line-height: 1.1em;
	  font-size: 12px;
	  text-transform: capitalize;
	  color: rgb(154, 154, 154);
  }
  
  h3{
	  font-size: 18px;
	  text-transform: capitalize;
	  font-weight: bold;
  }
  main .date {
	display: inline-block;
	font-size: 12px;
	text-transform: capitalize;
	color: rgb(154, 154, 154);
  }
  main .date + .icons {
	float: right;
	display: flex;
	justify-content: flex-end;
  }
  
  main .icons a:link {
	text-decoration: none;
	color: black;
  }
  
  .social-share a {
	margin-right: 9px;
  }
  
  .social-share i:first-of-type {
	color: rgba(238, 239, 239, 0.8);
  }
  
  .social-share i:hover {
	background-color: white;
	border: 1px solid #ccc;
	width: 15px;
	height: 15px;
	border-radius: 50%;
  }
  
  .bookmark_comment_btn i {
	padding: 5px;
	color: rgba(130, 128, 128, 0.859);
  }
  
  .bookmark_comment_btn span {
	color: rgb(181, 177, 177);
  }
  
  .bookmark_comment_btn span:nth-of-type(2) {
	top: -4px;
  }
  
  .bookmark_comment_btn i:hover {
	color: rgba(238, 239, 239, 0.8);
  }

/*=====END main img block====*/


/*====START content part =====*/
.p-story {
	margin-bottom: 0; 
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    max-width: 600px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



/*=== START under article section*/
.text_under_article{
	font-size: 14px;
	line-height: 1.rem;
	color: rgb(154, 154, 154);
	margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    max-width: 600px;
}
.text_under_article a{
	text-decoration: none;
	color: rgb(154, 154, 154);
}
.text_under_article a:hover{
	text-decoration: underline;
}
.under_article_social_btn{
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}
.under_article_social_btn button{
	text-transform: uppercase;
	font-size: 13px;
	padding: 5px 70px;
    margin:0 16px;
}
.under_article_social_btn a{
	text-decoration: none;
	color: black;
	margin-right: 0;
}

