/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
div {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=== END reset styles ====*/

/*==== general styles ====*/
*{
    box-sizing: border-box;
}

/*==== header ===*/

header{
	position: fixed;
	width: 100%;
	height: 40px;
	align-items: center;
	justify-content: center;
	display: flex;
	top: 0;
	color: #fff;
	border: 1px solid brown;
}
header .left_side{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: 15px;
}
.header_icons{
	display: flex;
}

.header_icons a{
	color: black;
	text-decoration: none;
}
.header_icons i{
	margin-right: 5px;
	padding: 10px;
}
.header_icons i:hover{
	background: rgba(238, 239, 239, 0.8);
	-webkit-transition: all 1.3s ease;
}

.header_text{
	margin-left: 15px;
}
.center_logo{
    background-image: url(../positioningAndFloating/Img/logo.png)
}

header img{
	height: 30px;
	margin-left: 25vw;
	margin-right: 25vw;
}
.right_side{
    justify-content: flex-end;
    align-items: center;
}

.story-body-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}



/*====== end header======*/

/*====START content part =====*/
.p-story {
	margin-bottom: 0; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    max-width: 600px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


